pipeline/pipADF_ADM_ExecuteLoadSecuence_copy1.json
{
	"name": "pipADF_ADM_ExecuteLoadSecuence_copy1",
	"properties": {
		"activities": [
			{
				"name": "Load ExecuteLoadSequence",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Start Process - Save Log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "lsrcDestination",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": "desaperreportesgenerales"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "EXEC AdminPackage.ExecuteLoadSequenceADF @{pipeline().parameters.ParamExecuteLoadCode} , @{pipeline().parameters.ParamEnvironment}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Childs Pipelines",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Load ExecuteLoadSequence",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Load ExecuteLoadSequence').output.resultSets[0].rows",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Child Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipADF_ADM_ExecuteLoad",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ParamSubscription": {
										"value": "@pipeline().parameters.ParamSubscription",
										"type": "Expression"
									},
									"ParamResourceGroup": {
										"value": "@pipeline().parameters.ParamResourceGroup",
										"type": "Expression"
									},
									"ParamInstanceNameADF": {
										"value": "@pipeline().parameters.ParamInstanceNameADF",
										"type": "Expression"
									},
									"ParamPipelineNameADF": {
										"value": "@item().SequencePipelineName",
										"type": "Expression"
									},
									"ParamUrlExecutePipeline": {
										"value": "@pipeline().parameters.ParamUrlExecutePipeline",
										"type": "Expression"
									},
									"ParamUrlStatusRunIdPipeline": {
										"value": "@pipeline().parameters.ParamUrlStatusRunIdPipeline",
										"type": "Expression"
									},
									"ParamExecuteLoadCode": {
										"value": "@item().SequenceExecuteLoadCode",
										"type": "Expression"
									},
									"ParamExecuteLoadId": {
										"value": "@item().SequenceExecuteLoadId",
										"type": "Expression"
									},
									"ParamEnvironment": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"ParamCountryCode": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"ParamdsrcIntegration": {
										"value": "@item().dsrcIntegration",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Start Process - Save Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AdminPackage].[CaptureLogPackage]",
					"storedProcedureParameters": {
						"Comments": {
							"value": {
								"value": "@concat('Package Start Process','')",
								"type": "Expression"
							},
							"type": "String"
						},
						"CountryCode": {
							"value": {
								"value": "@pipeline().parameters.ParamCountryCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"Enviroment": {
							"value": {
								"value": "@pipeline().parameters.ParamEnvironment",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecuteLoadConfiguration": {
							"value": {
								"value": "@pipeline().parameters.ParamExecuteLoadId",
								"type": "Expression"
							},
							"type": "Int16"
						},
						"LoadDateSSIS": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"LogEventType": {
							"value": "1",
							"type": "Int16"
						},
						"PackageName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskName": {
							"value": {
								"value": "@concat('Start Process - Save Log')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsrcDestination",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": {
							"value": "@pipeline().parameters.ParamdsrcIntegration",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "End Process - Save Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Childs Pipelines",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AdminPackage].[CaptureLogPackage]",
					"storedProcedureParameters": {
						"Comments": {
							"value": {
								"value": "@concat('Package End Proces','')",
								"type": "Expression"
							},
							"type": "String"
						},
						"CountryCode": {
							"value": {
								"value": "@pipeline().parameters.ParamCountryCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"Enviroment": {
							"value": {
								"value": "@pipeline().parameters.ParamEnvironment",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecuteLoadConfiguration": {
							"value": {
								"value": "@pipeline().parameters.ParamExecuteLoadId",
								"type": "Expression"
							},
							"type": "Int16"
						},
						"LoadDateSSIS": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"LogEventType": {
							"value": "1",
							"type": "Int16"
						},
						"PackageName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskName": {
							"value": {
								"value": "@concat('End Process - Save Log')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsrcDestination",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": "desaperreportesgenerales"
					}
				}
			}
		],
		"parameters": {
			"ParamExecuteLoadCode": {
				"type": "string",
				"defaultValue": "ODS_CargaDif_PeriodoCampaign"
			},
			"ParamEnvironment": {
				"type": "string",
				"defaultValue": "DESA_PER"
			},
			"ParamCountryCode": {
				"type": "string",
				"defaultValue": "PE"
			},
			"ParamSubscription": {
				"type": "string",
				"defaultValue": "0784505e-eb7a-4875-99ce-e87a55053531"
			},
			"ParamResourceGroup": {
				"type": "string",
				"defaultValue": "rg_wirbi_rfuster"
			},
			"ParamInstanceNameADF": {
				"type": "string",
				"defaultValue": "adfIntegrationAzureSqlADFTest2"
			},
			"ParamUrlExecutePipeline": {
				"type": "string",
				"defaultValue": "https://management.azure.com/subscriptions/@subscriptionId/resourceGroups/@resourceGroup/providers/Microsoft.DataFactory/factories/@adfName/pipelines/@pipelinename/createRun?api-version=2018-06-01"
			},
			"ParamUrlStatusRunIdPipeline": {
				"type": "string",
				"defaultValue": "https://management.azure.com/subscriptions/@subscriptionId/resourceGroups/@resourceGroup/providers/Microsoft.DataFactory/factories/@adfName/pipelineruns/@runidpipeline?api-version=2018-06-01"
			},
			"ParamExecuteLoadId": {
				"type": "string",
				"defaultValue": "23001"
			},
			"ParamdsrcIntegration": {
				"type": "string",
				"defaultValue": "desaperreportesgenerales"
			}
		},
		"variables": {
			"varSubscription": {
				"type": "String",
				"defaultValue": "0"
			},
			"varResourceGroup": {
				"type": "String",
				"defaultValue": "0"
			},
			"varInstanceNameADF": {
				"type": "String",
				"defaultValue": "0"
			},
			"varUrlExecutePipeline": {
				"type": "String",
				"defaultValue": "0"
			},
			"varUrlStatusRunIdPipeline": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "YanbalPipelines/YanbalODS_BusinessApp"
		},
		"annotations": []
	}
}