pipeline/pipADF_ADM_ExecuteLoadSecuence.json
{
	"name": "pipADF_ADM_ExecuteLoadSecuence",
	"properties": {
		"activities": [
			{
				"name": "Load ExecuteLoadSequence",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "lsrcDestination",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": "desaperreportesgenerales"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "EXEC AdminPackage.ExecuteLoadSequenceADF @{pipeline().parameters.ParamExecuteLoadCode} , @{pipeline().parameters.ParamEnvironment}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Childs Pipelines",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Load ExecuteLoadSequence",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Load ExecuteLoadSequence').output.resultSets[0].rows",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Child Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipADF_ADM_ExecuteLoad",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ParamSubscription": {
										"value": "@variables('varSubscription')",
										"type": "Expression"
									},
									"ParamResourceGroup": {
										"value": "@variables('varResourceGroup')",
										"type": "Expression"
									},
									"ParamInstanceNameADF": {
										"value": "@variables('varInstanceNameADF')",
										"type": "Expression"
									},
									"ParamPipelineNameADF": {
										"value": "@item().SequencePipelineName",
										"type": "Expression"
									},
									"ParamUrlExecutePipeline": {
										"value": "@variables('varUrlExecutePipeline')",
										"type": "Expression"
									},
									"ParamUrlStatusRunIdPipeline": {
										"value": "@variables('varUrlStatusRunIdPipeline')",
										"type": "Expression"
									},
									"ParamExecuteLoadCode": {
										"value": "@item().SequenceExecuteLoadCode",
										"type": "Expression"
									},
									"ParamExecuteLoadId": {
										"value": "@item().SequenceExecuteLoadId",
										"type": "Expression"
									},
									"ParamEnvironment": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"ParamCountryCode": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"ParamdsrcIntegration": {
										"value": "@item().dsrcIntegration",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ParamExecuteLoadCode": {
				"type": "string"
			},
			"ParamEnvironment": {
				"type": "string"
			},
			"ParamCountryCode": {
				"type": "string"
			},
			"ParamSubscription": {
				"type": "string"
			},
			"ParamResourceGroup": {
				"type": "string"
			},
			"ParamInstanceNameADF": {
				"type": "string"
			},
			"ParamUrlExecutePipeline": {
				"type": "string"
			},
			"ParamUrlStatusRunIdPipeline": {
				"type": "string"
			}
		},
		"variables": {
			"varSubscription": {
				"type": "String",
				"defaultValue": "0"
			},
			"varResourceGroup": {
				"type": "String",
				"defaultValue": "0"
			},
			"varInstanceNameADF": {
				"type": "String",
				"defaultValue": "0"
			},
			"varUrlExecutePipeline": {
				"type": "String",
				"defaultValue": "0"
			},
			"varUrlStatusRunIdPipeline": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "YanbalPipelines/YanbalODS_BusinessApp"
		},
		"annotations": []
	}
}