pipeline/pipADF_ADM_ExecuteLoad.json
{
	"name": "pipADF_ADM_ExecuteLoad",
	"properties": {
		"activities": [
			{
				"name": "Set RunId pipeline",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Ejecutar Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunId",
					"value": {
						"value": "@string(activity('Ejecutar Pipeline').output.runId)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Finalizacion ejecucion pipeline",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set RunId pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Url Status Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('ExecutePipelineFinished'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Obtener estado de ejecucion pipeline",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@variables('VarUrlStatusRunIdPipeline')",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						},
						{
							"name": "Set RunStatus Pipeline",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Obtener estado de ejecucion pipeline",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "RunStatus",
								"value": {
									"value": "@string(activity('Obtener estado de ejecucion pipeline').output.status)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set pipeline finished",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set RunStatus Pipeline",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "ExecutePipelineFinished",
								"value": {
									"value": "@if(equals(variables('RunStatus'), 'Queued'),'False',if(equals(variables('RunStatus'), 'InProgress'),'False',if(equals(variables('RunStatus'), 'Canceling'),'False','True')))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Stored procedure1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@if(equals(variables('ExecutePipelineFinished'), 'True'),1,1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set pipeline finished",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[USP_INSERT_tmpselect]",
								"storedProcedureParameters": {
									"ID": {
										"value": "1",
										"type": "Int32"
									},
									"VALOR": {
										"value": {
											"value": "@variables('RunStatus')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsrcDestination",
								"type": "LinkedServiceReference",
								"parameters": {
									"ParamDataSourceCode": "desaperreportesgenerales"
								}
							}
						}
					],
					"timeout": "0.00:02:00"
				}
			},
			{
				"name": "Set Url Status Pipeline",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Ejecutar Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VarUrlStatusRunIdPipeline",
					"value": {
						"value": "@replace(replace(replace(replace(pipeline().parameters.ParamUrlStatusRunIdPipeline, '@subscriptionId', pipeline().parameters.ParamSubscription), '@resourceGroup', pipeline().parameters.ParamResourceGroup),'@runidpipeline',string(activity('Ejecutar Pipeline').output.runId)),'@adfName',pipeline().parameters.ParamInstanceNameADF)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Ejecutar Pipeline",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Url Execute Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@variables('VarUrlExecutePipeline')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "Set Url Execute Pipeline",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VarUrlExecutePipeline",
					"value": {
						"value": "@replace(replace(replace(replace(pipeline().parameters.ParamUrlExecutePipeline, '@subscriptionId', pipeline().parameters.ParamSubscription), '@resourceGroup', pipeline().parameters.ParamResourceGroup),'@pipelinename',pipeline().parameters.ParamPipelineNameADF),'@adfName',pipeline().parameters.ParamInstanceNameADF)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ParamSubscription": {
				"type": "string",
				"defaultValue": "998fac29-2308-4c82-85bb-aef2aa738815"
			},
			"ParamResourceGroup": {
				"type": "string",
				"defaultValue": "rgTriggerPipelineADFfromAzureSql"
			},
			"ParamInstanceNameADF": {
				"type": "string",
				"defaultValue": "adfIntegrationAzureSqlADFTest"
			},
			"ParamPipelineNameADF": {
				"type": "string",
				"defaultValue": "pipcopycsvfile"
			},
			"ParamUrlExecutePipeline": {
				"type": "string",
				"defaultValue": "https://management.azure.com/subscriptions/@subscriptionId/resourceGroups/@resourceGroup/providers/Microsoft.DataFactory/factories/@adfName/pipelines/@pipelinename/createRun?api-version=2018-06-01"
			},
			"ParamUrlStatusRunIdPipeline": {
				"type": "string",
				"defaultValue": "https://management.azure.com/subscriptions/@subscriptionId/resourceGroups/@resourceGroup/providers/Microsoft.DataFactory/factories/@adfName/pipelineruns/@runidpipeline?api-version=2018-06-01"
			}
		},
		"variables": {
			"RunId": {
				"type": "String",
				"defaultValue": "0"
			},
			"ExecutePipelineFinished": {
				"type": "String",
				"defaultValue": "false"
			},
			"RunStatus": {
				"type": "String",
				"defaultValue": "0"
			},
			"VarUrlStatusRunIdPipeline": {
				"type": "String",
				"defaultValue": "0"
			},
			"VarUrlExecutePipeline": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}