pipeline/pipADF_ADMIN_EjecutarQuerysSQL.json
{
	"name": "pipADF_ADMIN_EjecutarQuerysSQL",
	"properties": {
		"activities": [
			{
				"name": "Execute Query SQL",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "GET Step configurationw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "lsrcDestination",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": {
							"value": "@variables('vardsrcDestination')",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@variables('varExecuteQuery')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Start Process - Save Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AdminPackage].[CaptureLogPackage]",
					"storedProcedureParameters": {
						"Comments": {
							"value": {
								"value": "@concat('Package Start Process','')",
								"type": "Expression"
							},
							"type": "String"
						},
						"CountryCode": {
							"value": {
								"value": "@pipeline().parameters.ParamCountryCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"Enviroment": {
							"value": {
								"value": "@pipeline().parameters.ParamEnvironment",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecuteLoadConfiguration": {
							"value": {
								"value": "@pipeline().parameters.ParamExecuteLoadCode",
								"type": "Expression"
							},
							"type": "Int16"
						},
						"LoadDateSSIS": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"LogEventType": {
							"value": "1",
							"type": "Int16"
						},
						"PackageName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskName": {
							"value": {
								"value": "@concat('Start Process - Save Log')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsrcDestination",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": {
							"value": "@pipeline().parameters.ParamdsrcIntegration",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "End Process - Save Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Query SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AdminPackage].[CaptureLogPackage]",
					"storedProcedureParameters": {
						"Comments": {
							"value": {
								"value": "@concat('Package End Proces','')",
								"type": "Expression"
							},
							"type": "String"
						},
						"CountryCode": {
							"value": {
								"value": "@pipeline().parameters.ParamCountryCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"Enviroment": {
							"value": {
								"value": "@pipeline().parameters.ParamEnvironment",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecuteLoadConfiguration": {
							"value": {
								"value": "@pipeline().parameters.ParamExecuteLoadCode",
								"type": "Expression"
							},
							"type": "Int16"
						},
						"LoadDateSSIS": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"LogEventType": {
							"value": "1",
							"type": "Int16"
						},
						"PackageName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"TaskName": {
							"value": {
								"value": "@concat('End Process - Save Log')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsrcDestination",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": "desaperreportesgenerales"
					}
				}
			},
			{
				"name": "GET Step configurationw",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Start Process - Save Log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[AdminPackage].[ExecuteLoadConfigurationStepADF]",
						"storedProcedureParameters": {
							"Enviroment": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ParamEnvironment",
									"type": "Expression"
								}
							},
							"ExecuteLoadCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ParamExecuteLoadCode",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "GET Step configuration",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "lsrcDestination",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": {
							"value": "@variables('vardsrcDestination')",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "EXEC [AdminPackage].[ExecuteLoadConfigurationStepADF] @{pipeline().parameters.ParamExecuteLoadCode} , @{pipeline().parameters.ParamEnvironment}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"ParamExecuteLoadCode": {
				"type": "string"
			},
			"ParamExecuteLoadId": {
				"type": "string"
			},
			"ParamEnvironment": {
				"type": "string"
			},
			"ParamCountryCode": {
				"type": "string"
			},
			"ParamdsrcIntegration": {
				"type": "string"
			}
		},
		"variables": {
			"vardsrcDestination": {
				"type": "String"
			},
			"vardsrcIntegration": {
				"type": "String"
			},
			"vardsrcMail": {
				"type": "String"
			},
			"varExecuteQuery": {
				"type": "String"
			},
			"varSendMailFrom": {
				"type": "String"
			},
			"varSendMailMessage": {
				"type": "String"
			},
			"varSendMailSubject": {
				"type": "String"
			},
			"varSendMailTo": {
				"type": "String"
			},
			"varSendMailToCC": {
				"type": "String"
			}
		},
		"folder": {
			"name": "YanbalPipelines/YanbalODS_BusinessApp"
		},
		"annotations": []
	}
}