pipeline/pipADF_ADM_ExecutePipelineParent_copy1.json
{
	"name": "pipADF_ADM_ExecutePipelineParent_copy1",
	"properties": {
		"activities": [
			{
				"name": "Load ExecuteLoadSequence",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set varSubscription",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set varResourceGroup",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set varUrlExecutePipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set varInstanceNameADF",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set varUrlStatusRunIdPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "lsrcDestination",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": "desaperreportesgenerales"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "EXEC AdminPackage.ExecuteLoadSequenceADF @{pipeline().parameters.ParamExecuteLoadCode} , @{pipeline().parameters.ParamEnvironment}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Childs Pipelines",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Load ExecuteLoadSequence",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Load ExecuteLoadSequence').output.resultSets[0].rows",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Child Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipADF_ADM_ExecuteLoad",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ParamSubscription": {
										"value": "@variables('varSubscription')",
										"type": "Expression"
									},
									"ParamResourceGroup": {
										"value": "@variables('varResourceGroup')",
										"type": "Expression"
									},
									"ParamInstanceNameADF": {
										"value": "@variables('varInstanceNameADF')",
										"type": "Expression"
									},
									"ParamPipelineNameADF": {
										"value": "@item().SequencePipelineName",
										"type": "Expression"
									},
									"ParamUrlExecutePipeline": {
										"value": "@variables('varUrlExecutePipeline')",
										"type": "Expression"
									},
									"ParamUrlStatusRunIdPipeline": {
										"value": "@variables('varUrlStatusRunIdPipeline')",
										"type": "Expression"
									},
									"ParamExecuteLoadCode": {
										"value": "@item().SequenceExecuteLoadCode",
										"type": "Expression"
									},
									"ParamExecuteLoadId": {
										"value": "@item().SequenceExecuteLoadId",
										"type": "Expression"
									},
									"ParamEnvironment": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"ParamCountryCode": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"ParamdsrcIntegration": {
										"value": "@item().dsrcIntegration",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set varSubscription",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET ADF configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varSubscription",
					"value": {
						"value": "@string(activity('GET ADF configuration').output.firstRow.SubscriptionId)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set varResourceGroup",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET ADF configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varResourceGroup",
					"value": {
						"value": "@string(activity('GET ADF configuration').output.firstRow.ResourceGroup)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set varUrlExecutePipeline",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET ADF configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varUrlExecutePipeline",
					"value": {
						"value": "@string(activity('GET ADF configuration').output.firstRow.UrlExecutePipeline)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set varInstanceNameADF",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET ADF configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varInstanceNameADF",
					"value": {
						"value": "@string(activity('GET ADF configuration').output.firstRow.ADFInstanceName)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set varUrlStatusRunIdPipeline",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET ADF configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varUrlStatusRunIdPipeline",
					"value": {
						"value": "@string(activity('GET ADF configuration').output.firstRow.UrlStatusRunIdPipeline)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GET ADF configuration",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[AdminPackage].[GetConfigurationADFInstance]",
						"storedProcedureParameters": {
							"CountryCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().globalParameters.CountryCodeADF",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"ParamExecuteLoadCode": {
				"type": "string",
				"defaultValue": "ODS_BusinessApp"
			},
			"ParamEnvironment": {
				"type": "string",
				"defaultValue": "DESA_PER"
			},
			"ParamCountryCode": {
				"type": "string",
				"defaultValue": "PE"
			}
		},
		"variables": {
			"varSubscription": {
				"type": "String",
				"defaultValue": "0"
			},
			"varResourceGroup": {
				"type": "String",
				"defaultValue": "0"
			},
			"varInstanceNameADF": {
				"type": "String",
				"defaultValue": "0"
			},
			"varUrlExecutePipeline": {
				"type": "String",
				"defaultValue": "0"
			},
			"varUrlStatusRunIdPipeline": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": []
	}
}