pipeline/pipADF_ADM_ExecuteLoadParent.json
{
	"name": "pipADF_ADM_ExecuteLoadParent",
	"properties": {
		"activities": [
			{
				"name": "Load ExecuteLoadSequence",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set varSubscription",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set varResourceGroup",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set varUrlExecutePipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set varInstanceNameADF",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set varUrlStatusRunIdPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "lsrcDestination",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": "desaperreportesgenerales"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "EXEC AdminPackage.ExecuteLoadSequenceADF @{pipeline().parameters.ExecuteLoadCode} , @{pipeline().parameters.Environment}"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Load ExecuteLoadSequence",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Load ExecuteLoadSequence').output.resultSets[0].rows",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "USP_INSERT_tmpselect2",
								"storedProcedureParameters": {
									"SequenceExecuteLoadCode": {
										"value": {
											"value": "@item().SequenceExecuteLoadCode",
											"type": "Expression"
										},
										"type": "String"
									},
									"SequenceExecution": {
										"value": {
											"value": "@item().SequenceExecution",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"SequencePipelineName": {
										"value": {
											"value": "@item().SequencePipelineName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsrcDestination",
								"type": "LinkedServiceReference",
								"parameters": {
									"ParamDataSourceCode": "desaperreportesgenerales"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set varSubscription",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "Set varResourceGroup",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "Set varUrlExecutePipeline",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "Set varInstanceNameADF",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "Set varUrlStatusRunIdPipeline",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"parameters": {
			"ExecuteLoadCode": {
				"type": "string",
				"defaultValue": "ODS_BusinessApp"
			},
			"Environment": {
				"type": "string",
				"defaultValue": "DESA_PER"
			}
		},
		"variables": {
			"varSubscription": {
				"type": "String",
				"defaultValue": "0"
			},
			"varResourceGroup": {
				"type": "String",
				"defaultValue": "0"
			},
			"varInstanceNameADF": {
				"type": "String",
				"defaultValue": "0"
			},
			"varUrlExecutePipeline": {
				"type": "String",
				"defaultValue": "0"
			},
			"varUrlStatusRunIdPipeline": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "YanbalPipelines/YanbalODS_BusinessApp"
		},
		"annotations": []
	}
}