pipeline/pipeline_paralelo.json
{
	"name": "pipeline_paralelo",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "USP_LEER_tmpLista2",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"schematablename": "0",
							"tablename": "0",
							"ParamDataSourceCode": "desaperreportesgenerales"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 2,
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "USP_INS_tmpLista2",
								"storedProcedureParameters": {
									"clave": {
										"value": {
											"value": "@item().Id",
											"type": "Expression"
										},
										"type": "String"
									},
									"Id": {
										"value": {
											"value": "@item().clave",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"orden": {
										"value": {
											"value": "@item().orden",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsrcDestination",
								"type": "LinkedServiceReference",
								"parameters": {
									"ParamDataSourceCode": "desaperreportesgenerales"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"var1": {
				"type": "String",
				"defaultValue": "0"
			},
			"var2": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "YanbalPipelines/YanbalODS_BusinessApp"
		},
		"annotations": []
	}
}