pipeline/pipeline14.json
{
	"name": "pipeline14",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0,length(pipeline().parameters.keys))",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "build each key value pair",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp",
								"value": {
									"value": "@string(union(json(variables('req')),json(concat('{\"',pipeline().parameters.keys[item()],'\":\"',pipeline().parameters.values[item()],'\"}'))))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "assign final outcome",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "build each key value pair",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "req",
								"value": {
									"value": "@variables('temp')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "valor",
					"value": {
						"value": "@json(variables('req')).key1",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ejem",
					"value": {
						"value": "@string(length(pipeline().parameters.keys))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"keys": {
				"type": "array",
				"defaultValue": [
					"Key1",
					"Key2",
					"Key3"
				]
			},
			"values": {
				"type": "array",
				"defaultValue": [
					"value1",
					"value2",
					"value3"
				]
			}
		},
		"variables": {
			"req": {
				"type": "String",
				"defaultValue": "{}"
			},
			"temp": {
				"type": "String"
			},
			"valor": {
				"type": "String"
			},
			"ejem": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": []
	}
}