pipeline/pipeline13.json
{
	"name": "pipeline13",
	"properties": {
		"activities": [
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "lsrcDestination",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": "desaperreportesgenerales"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "EXEC USP_LEERLISTA @{pipeline().parameters.ParamID}"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Script1').output.resultSets[0].rows",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Arrray agregar clave",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "listaClaves",
								"value": {
									"value": "@item().clave",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Arrray agregar valor",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "listaValor",
								"value": {
									"value": "@item().valor",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "lista",
					"value": {
						"value": "@concat('p','o')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ParamID": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"listaClaves": {
				"type": "Array",
				"defaultValue": []
			},
			"listaValor": {
				"type": "Array",
				"defaultValue": []
			},
			"lista": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": []
	}
}