pipeline/pipeline2_copy2.json
{
	"name": "pipeline2_copy2",
	"properties": {
		"activities": [
			{
				"name": "Ejecutar Pipeline",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set VarUrlExecutePipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@variables('VarUrlExecutePipeline')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "Set VarUrlExecutePipeline",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VarUrlExecutePipeline",
					"value": {
						"value": "@replace(replace(replace(replace(pipeline().parameters.ParamUrlExecutePipeline, '@subscriptionId', pipeline().parameters.ParamSubscription), '@resourceGroup', pipeline().parameters.ParamResourceGroup),'@pipelinename',pipeline().parameters.ParamPipelineNameADF),'@adfName',pipeline().parameters.ParamInstanceNameADF)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ParamSubscription": {
				"type": "string",
				"defaultValue": "998fac29-2308-4c82-85bb-aef2aa738815"
			},
			"ParamResourceGroup": {
				"type": "string",
				"defaultValue": "rgTriggerPipelineADFfromAzureSql"
			},
			"ParamInstanceNameADF": {
				"type": "string",
				"defaultValue": "adfIntegrationAzureSqlADFTest"
			},
			"ParamPipelineNameADF": {
				"type": "string",
				"defaultValue": "pipcopycsvfile"
			},
			"ParamUrlExecutePipeline": {
				"type": "string",
				"defaultValue": "https://management.azure.com/subscriptions/@subscriptionId/resourceGroups/@resourceGroup/providers/Microsoft.DataFactory/factories/@adfName/pipelines/@pipelinename/createRun?api-version=2018-06-01"
			},
			"ParamUrlStatusRunIdPipeline": {
				"type": "string",
				"defaultValue": "https://management.azure.com/subscriptions/@subscriptionId/resourceGroups/@resourceGroup/providers/Microsoft.DataFactory/factories/@adfName/pipelineruns/@runidpipeline?api-version=2018-06-01"
			}
		},
		"variables": {
			"RunId": {
				"type": "String",
				"defaultValue": "0"
			},
			"ExecutePipelineFinished": {
				"type": "String",
				"defaultValue": "false"
			},
			"RunStatus": {
				"type": "String",
				"defaultValue": "0"
			},
			"VarUrlStatusRunIdPipeline": {
				"type": "String",
				"defaultValue": "0"
			},
			"VarUrlExecutePipeline": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}