pipeline/pipeline1_copy4.json
{
	"name": "pipeline1_copy4",
	"properties": {
		"activities": [
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_INSERT_tmpselect13]",
					"storedProcedureParameters": {
						"FECHA": {
							"value": {
								"value": "@variables('Fecha')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ID": {
							"value": {
								"value": "@pipeline().parameters.ID_VALOR",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"VALOR": {
							"value": {
								"value": "@pipeline().parameters.VALOR_VALOR",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsrcDestination",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": "desaperreportesgenerales"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Fecha",
					"value": {
						"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ID_VALOR": {
				"type": "string",
				"defaultValue": "0"
			},
			"VALOR_VALOR": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"variables": {
			"Fecha": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": []
	}
}