pipeline/pipeline5_copy2.json
{
	"name": "pipeline5_copy2",
	"properties": {
		"activities": [
			{
				"name": "GET Step configuration",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "lsrcDestination",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": {
							"value": "@variables('vardsrcDestination')",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "EXEC [AdminPackage].[ExecuteLoadConfigurationStepADF] @{pipeline().parameters.ParamExecuteLoadCode} , @{pipeline().parameters.ParamEnvironment}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET Step configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var1",
					"value": {
						"value": "@activity('GET Step configuration').output.resultSets[0]['rows'][0].Parameter",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"param1": {
				"type": "string",
				"defaultValue": "@pipeline().globalParameters.CountryCodeADF"
			},
			"ParamEnvironment": {
				"type": "string",
				"defaultValue": "DESA_PER"
			},
			"ParamExecuteLoadCode": {
				"type": "string",
				"defaultValue": "ODS_ProcesamientoDim_Sales_SalesParametersByTitle"
			},
			"ParamExecuteLoadId": {
				"type": "string",
				"defaultValue": "1234"
			}
		},
		"variables": {
			"var1": {
				"type": "String"
			},
			"var2": {
				"type": "String"
			},
			"var3": {
				"type": "String"
			},
			"vardsrcDestination": {
				"type": "String",
				"defaultValue": "desaperyanbalreportsods"
			},
			"ParamEnvironment": {
				"type": "String",
				"defaultValue": "DESA_PER"
			},
			"ParamExecuteLoadCode": {
				"type": "String",
				"defaultValue": "ODS_ProcesamientoDim_Sales_SalesParametersByTitle"
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": []
	}
}