adfIntegrationAzureSqlADFTest/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adfIntegrationAzureSqlADFTest"
		},
		"lsazureblobstorage_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"lsazureblobstorage\""
		},
		"default_properties_EnvironmentADF_value": {
			"type": "string",
			"defaultValue": "DESA_CO"
		},
		"default_properties_CountryCodeADF_value": {
			"type": "string",
			"defaultValue": "CO"
		},
		"default_properties_Environment_value": {
			"type": "string",
			"defaultValue": "DESA"
		},
		"lazurekv_desa_per_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kvdesaper.vault.azure.net/"
		},
		"lsrcDestination_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "@linkedService().ParamDataSourceCode"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/globalparameters",
			"apiVersion": "2018-06-01",
			"properties": {
				"EnvironmentADF": {
					"type": "string",
					"value": "[parameters('default_properties_EnvironmentADF_value')]"
				},
				"CountryCodeADF": {
					"type": "string",
					"value": "[parameters('default_properties_CountryCodeADF_value')]"
				},
				"Environment": {
					"type": "string",
					"value": "[parameters('default_properties_Environment_value')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/998fac29-2308-4c82-85bb-aef2aa738815/resourceGroups/rgTriggerPipelineADFfromAzureSql/providers/Microsoft.DataFactory/factories/adfIntegrationAzureSqlADFTest/pipelines/pipeline1/createRun?api-version=2018-06-01",
							"body": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2_copy2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Obtener valor RunId Pipeline",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Ejecutar Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "RunId",
							"value": {
								"value": "@string(activity('Ejecutar Pipeline').output.runId)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set VarUrlStatusRunIdPipeline",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Ejecutar Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "VarUrlStatusRunIdPipeline",
							"value": {
								"value": "@replace(replace(replace(replace(pipeline().parameters.ParamUrlStatusRunIdPipeline, '@subscriptionId', pipeline().parameters.ParamSubscription), '@resourceGroup', pipeline().parameters.ParamResourceGroup),'@runidpipeline',string(activity('Ejecutar Pipeline').output.runId)),'@adfName',pipeline().parameters.ParamInstanceNameADF)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Ejecutar Pipeline",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set VarUrlExecutePipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": {
								"value": "@variables('VarUrlExecutePipeline')",
								"type": "Expression"
							},
							"body": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					},
					{
						"name": "Set VarUrlExecutePipeline",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "VarUrlExecutePipeline",
							"value": {
								"value": "@replace(replace(replace(replace(pipeline().parameters.ParamUrlExecutePipeline, '@subscriptionId', pipeline().parameters.ParamSubscription), '@resourceGroup', pipeline().parameters.ParamResourceGroup),'@pipelinename',pipeline().parameters.ParamPipelineNameADF),'@adfName',pipeline().parameters.ParamInstanceNameADF)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ParamSubscription": {
						"type": "string",
						"defaultValue": "998fac29-2308-4c82-85bb-aef2aa738815"
					},
					"ParamResourceGroup": {
						"type": "string",
						"defaultValue": "rgTriggerPipelineADFfromAzureSql"
					},
					"ParamInstanceNameADF": {
						"type": "string",
						"defaultValue": "adfIntegrationAzureSqlADFTest"
					},
					"ParamPipelineNameADF": {
						"type": "string",
						"defaultValue": "pipcopycsvfile"
					},
					"ParamUrlExecutePipeline": {
						"type": "string",
						"defaultValue": "https://management.azure.com/subscriptions/@subscriptionId/resourceGroups/@resourceGroup/providers/Microsoft.DataFactory/factories/@adfName/pipelines/@pipelinename/createRun?api-version=2018-06-01"
					},
					"ParamUrlStatusRunIdPipeline": {
						"type": "string",
						"defaultValue": "https://management.azure.com/subscriptions/@subscriptionId/resourceGroups/@resourceGroup/providers/Microsoft.DataFactory/factories/@adfName/pipelineruns/@runidpipeline?api-version=2018-06-01"
					}
				},
				"variables": {
					"RunId": {
						"type": "String",
						"defaultValue": "0"
					},
					"ExecutePipelineFinished": {
						"type": "String",
						"defaultValue": "false"
					},
					"RunStatus": {
						"type": "String",
						"defaultValue": "0"
					},
					"VarUrlStatusRunIdPipeline": {
						"type": "String",
						"defaultValue": "0"
					},
					"VarUrlExecutePipeline": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://management.azure.com/subscriptions/998fac29-2308-4c82-85bb-aef2aa738815/resourceGroups/rgTriggerPipelineADFfromAzureSql/providers/Microsoft.DataFactory/factories/adfIntegrationAzureSqlADFTest/pipelineruns/6defcc2f-4248-4512-9f7d-de5497163124?api-version=2018-06-01",
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "RunStatus",
							"value": {
								"value": "@string(activity('Web1').output.status)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"RunStatus": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline5')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var1",
							"value": {
								"value": "@pipeline().parameters.param1",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"param1": {
						"type": "string",
						"defaultValue": "@pipeline().globalParameters.CountryCodeADF"
					}
				},
				"variables": {
					"var1": {
						"type": "String"
					}
				},
				"folder": {
					"name": "YanbalPipelines/YanbalODS_BusinessApp"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lazurekv_desa_per')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"ParamUrlKeyVault": {
						"type": "string",
						"defaultValue": "https://kvdesaper.vault.azure.net/"
					}
				},
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('lazurekv_desa_per_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lsazureblobstorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('lsazureblobstorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FilesAzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsazureblobstorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "source"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsazureblobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FilesDestinationAzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsazureblobstorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "destination"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsazureblobstorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lsrcDestination')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"ParamDataSourceCode": {
						"type": "string",
						"defaultValue": "desaperreportesgenerales"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "lazurekv_desa_per",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamUrlKeyVault": "https://kvdesaper.vault.azure.net/"
							}
						},
						"secretName": {
							"value": "[parameters('lsrcDestination_properties_typeProperties_connectionString_secretName')]",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lazurekv_desa_per')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipADF_ADM_ExecuteLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set RunId pipeline",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Ejecutar Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "RunId",
							"value": {
								"value": "@string(activity('Ejecutar Pipeline').output.runId)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Finalizacion ejecucion pipeline",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Set RunId pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Url Status Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(variables('ExecutePipelineFinished'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Obtener estado de ejecucion pipeline",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {},
										"url": {
											"value": "@variables('VarUrlStatusRunIdPipeline')",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com"
										}
									}
								},
								{
									"name": "Set RunStatus Pipeline",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Obtener estado de ejecucion pipeline",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "RunStatus",
										"value": {
											"value": "@string(activity('Obtener estado de ejecucion pipeline').output.status)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set pipeline finished",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set RunStatus Pipeline",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "ExecutePipelineFinished",
										"value": {
											"value": "@if(equals(variables('RunStatus'), 'Queued'),'False',if(equals(variables('RunStatus'), 'InProgress'),'False',if(equals(variables('RunStatus'), 'Canceling'),'False','True')))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "Stored procedure1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": {
											"value": "@if(equals(variables('ExecutePipelineFinished'), 'True'),1,1)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Stored procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Set pipeline finished",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_INSERT_tmpselect]",
										"storedProcedureParameters": {
											"ID": {
												"value": "1",
												"type": "Int32"
											},
											"VALOR": {
												"value": {
													"value": "@variables('RunStatus')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsrcDestination",
										"type": "LinkedServiceReference",
										"parameters": {
											"ParamDataSourceCode": "desaperreportesgenerales"
										}
									}
								}
							],
							"timeout": "0.00:02:00"
						}
					},
					{
						"name": "Set Url Status Pipeline",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Ejecutar Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "VarUrlStatusRunIdPipeline",
							"value": {
								"value": "@replace(replace(replace(replace(pipeline().parameters.ParamUrlStatusRunIdPipeline, '@subscriptionId', pipeline().parameters.ParamSubscription), '@resourceGroup', pipeline().parameters.ParamResourceGroup),'@runidpipeline',string(activity('Ejecutar Pipeline').output.runId)),'@adfName',pipeline().parameters.ParamInstanceNameADF)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Ejecutar Pipeline",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set Url Execute Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": {
								"value": "@variables('VarUrlExecutePipeline')",
								"type": "Expression"
							},
							"body": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					},
					{
						"name": "Set Url Execute Pipeline",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "VarUrlExecutePipeline",
							"value": {
								"value": "@replace(replace(replace(replace(pipeline().parameters.ParamUrlExecutePipeline, '@subscriptionId', pipeline().parameters.ParamSubscription), '@resourceGroup', pipeline().parameters.ParamResourceGroup),'@pipelinename',pipeline().parameters.ParamPipelineNameADF),'@adfName',pipeline().parameters.ParamInstanceNameADF)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ParamSubscription": {
						"type": "string",
						"defaultValue": "998fac29-2308-4c82-85bb-aef2aa738815"
					},
					"ParamResourceGroup": {
						"type": "string",
						"defaultValue": "rgTriggerPipelineADFfromAzureSql"
					},
					"ParamInstanceNameADF": {
						"type": "string",
						"defaultValue": "adfIntegrationAzureSqlADFTest"
					},
					"ParamPipelineNameADF": {
						"type": "string",
						"defaultValue": "pipcopycsvfile"
					},
					"ParamUrlExecutePipeline": {
						"type": "string",
						"defaultValue": "https://management.azure.com/subscriptions/@subscriptionId/resourceGroups/@resourceGroup/providers/Microsoft.DataFactory/factories/@adfName/pipelines/@pipelinename/createRun?api-version=2018-06-01"
					},
					"ParamUrlStatusRunIdPipeline": {
						"type": "string",
						"defaultValue": "https://management.azure.com/subscriptions/@subscriptionId/resourceGroups/@resourceGroup/providers/Microsoft.DataFactory/factories/@adfName/pipelineruns/@runidpipeline?api-version=2018-06-01"
					},
					"ParamExecuteLoadCode": {
						"type": "string"
					},
					"ParamExecuteLoadId": {
						"type": "string"
					}
				},
				"variables": {
					"RunId": {
						"type": "String",
						"defaultValue": "0"
					},
					"ExecutePipelineFinished": {
						"type": "String",
						"defaultValue": "false"
					},
					"RunStatus": {
						"type": "String",
						"defaultValue": "0"
					},
					"VarUrlStatusRunIdPipeline": {
						"type": "String",
						"defaultValue": "0"
					},
					"VarUrlExecutePipeline": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "YanbalPipelines/YanbalODS_BusinessApp"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsrcDestination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipADF_ADM_ExecuteLoadParent_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load ExecuteLoadSequence",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "EXEC AdminPackage.ExecuteLoadSequenceADF @{pipeline().parameters.ExecuteLoadCode} , @{pipeline().parameters.Environment}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Load ExecuteLoadSequence",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Load ExecuteLoadSequence').output.resultSets[0].rows",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Stored procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "USP_INSERT_tmpselect2",
										"storedProcedureParameters": {
											"SequenceExecuteLoadCode": {
												"value": {
													"value": "@item().SequenceExecuteLoadCode",
													"type": "Expression"
												},
												"type": "String"
											},
											"SequenceExecution": {
												"value": {
													"value": "@item().SequenceExecution",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"SequencePipelineName": {
												"value": {
													"value": "@item().SequencePipelineName",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsrcDestination",
										"type": "LinkedServiceReference",
										"parameters": {
											"ParamDataSourceCode": "desaperreportesgenerales"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ExecuteLoadCode": {
						"type": "string",
						"defaultValue": "ODS_BusinessApp"
					},
					"Environment": {
						"type": "string",
						"defaultValue": "DESA_PER"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsrcDestination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipcopycsvfile')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "FilesAzureBlobStorage",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "FilesDestinationAzureBlobStorage",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FilesAzureBlobStorage')]",
				"[concat(variables('factoryId'), '/datasets/FilesDestinationAzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_INSERT_tmpselect]",
							"storedProcedureParameters": {
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID_VALOR",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"VALOR": {
									"value": {
										"value": "@pipeline().parameters.VALOR_VALOR",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID_VALOR": {
						"type": "string",
						"defaultValue": "1"
					},
					"VALOR_VALOR": {
						"type": "string",
						"defaultValue": "A"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsrcDestination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script1",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "EXEC USP_SELECT_tmpselect"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Script1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Script1').output.resultSets[0].rows",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Stored procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "USP_INSERT_tmpselect2",
										"storedProcedureParameters": {
											"ID": {
												"value": {
													"value": "@item().ID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"VALOR": {
												"value": {
													"value": "@item().VALOR",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsrcDestination",
										"type": "LinkedServiceReference",
										"parameters": {
											"ParamDataSourceCode": "desaperreportesgenerales"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsrcDestination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsrcDestination",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsrcDestination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipADF_ADMIN_EjecutarQuerysSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Query SQL",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Start Process - Save Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "EXEC USP_INSERT_tmpselect3"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Start Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_DFExecutionDetails]",
							"storedProcedureParameters": {
								"ErrorMessage": {
									"value": "",
									"type": "String"
								},
								"PL_Name": {
									"value": "",
									"type": "String"
								},
								"PL_RunId": {
									"value": "",
									"type": "String"
								},
								"PL_Status": {
									"value": "",
									"type": "String"
								},
								"RowRead": {
									"value": "",
									"type": "Int32"
								},
								"RowsWritten": {
									"value": "",
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						}
					},
					{
						"name": "End Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute Query SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[ExecuteLoadSequenceADF]"
						},
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "YanbalPipelines/YanbalODS_BusinessApp"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsrcDestination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_INSERT_tmpselect3]",
							"storedProcedureParameters": {
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID_VALOR",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"VALOR": {
									"value": {
										"value": "@pipeline().parameters.VALOR_VALOR",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID_VALOR": {
						"type": "string",
						"defaultValue": "0"
					},
					"VALOR_VALOR": {
						"type": "string",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsrcDestination')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipADF_ADM_ExecuteLoadParent')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load ExecuteLoadSequence",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Set varSubscription",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set varResourceGroup",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set varUrlExecutePipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set varInstanceNameADF",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set varUrlStatusRunIdPipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "EXEC AdminPackage.ExecuteLoadSequenceADF @{pipeline().parameters.ExecuteLoadCode} , @{pipeline().parameters.Environment}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Childs Pipelines",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Load ExecuteLoadSequence",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Load ExecuteLoadSequence').output.resultSets[0].rows",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute Child Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipADF_ADM_ExecuteLoad",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ParamSubscription": {
												"value": "@variables('varSubscription')",
												"type": "Expression"
											},
											"ParamResourceGroup": {
												"value": "@variables('varResourceGroup')",
												"type": "Expression"
											},
											"ParamInstanceNameADF": {
												"value": "@variables('varInstanceNameADF')",
												"type": "Expression"
											},
											"ParamPipelineNameADF": {
												"value": "@item().SequencePipelineName",
												"type": "Expression"
											},
											"ParamUrlExecutePipeline": {
												"value": "@variables('varUrlExecutePipeline')",
												"type": "Expression"
											},
											"ParamUrlStatusRunIdPipeline": {
												"value": "@variables('varUrlStatusRunIdPipeline')",
												"type": "Expression"
											},
											"ParamExecuteLoadCode": {
												"value": "@item().SequenceExecuteLoadCode",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Set varSubscription",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET ADF configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varSubscription",
							"value": {
								"value": "@string(activity('GET ADF configuration').output.firstRow.SubscriptionId)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set varResourceGroup",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET ADF configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varResourceGroup",
							"value": {
								"value": "@string(activity('GET ADF configuration').output.firstRow.ResourceGroup)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set varUrlExecutePipeline",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET ADF configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varUrlExecutePipeline",
							"value": {
								"value": "@string(activity('GET ADF configuration').output.firstRow.UrlExecutePipeline)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set varInstanceNameADF",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET ADF configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varInstanceNameADF",
							"value": {
								"value": "@string(activity('GET ADF configuration').output.firstRow.ADFInstanceName)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set varUrlStatusRunIdPipeline",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET ADF configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varUrlStatusRunIdPipeline",
							"value": {
								"value": "@string(activity('GET ADF configuration').output.firstRow.UrlStatusRunIdPipeline)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GET ADF configuration",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[AdminPackage].[GetConfigurationADFInstance]",
								"storedProcedureParameters": {
									"CountryCode": {
										"type": "String",
										"value": {
											"value": "@pipeline().globalParameters.CountryCodeADF",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ExecuteLoadCode": {
						"type": "string",
						"defaultValue": "ODS_BusinessApp"
					},
					"Environment": {
						"type": "string",
						"defaultValue": "DESA_PER"
					},
					"ExecuteLoadId": {
						"type": "string"
					}
				},
				"variables": {
					"varSubscription": {
						"type": "String",
						"defaultValue": "0"
					},
					"varResourceGroup": {
						"type": "String",
						"defaultValue": "0"
					},
					"varInstanceNameADF": {
						"type": "String",
						"defaultValue": "0"
					},
					"varUrlExecutePipeline": {
						"type": "String",
						"defaultValue": "0"
					},
					"varUrlStatusRunIdPipeline": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "YanbalPipelines/YanbalODS_BusinessApp"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsrcDestination')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]",
				"[concat(variables('factoryId'), '/pipelines/pipADF_ADM_ExecuteLoad')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/execute_pipeline1_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipeline1_copy1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID_VALOR": "2",
								"VALOR_VALOR": "B"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID_VALOR": {
						"type": "string",
						"defaultValue": "1"
					},
					"VALOR_VALOR": {
						"type": "string",
						"defaultValue": "A"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1_copy1')]"
			]
		}
	]
}