adfIntegrationAzureSqlADFTest2/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfIntegrationAzureSqlADFTest2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_INSERT_tmpselect]",
							"storedProcedureParameters": {
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID_VALOR",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"VALOR": {
									"value": {
										"value": "@pipeline().parameters.VALOR_VALOR",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID_VALOR": {
						"type": "string",
						"defaultValue": "1"
					},
					"VALOR_VALOR": {
						"type": "string",
						"defaultValue": "A"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline13')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script1",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "EXEC USP_LEERLISTA @{pipeline().parameters.ParamID}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Script1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Script1').output.resultSets[0].rows",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable2",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "listajson2",
										"value": {
											"value": "@string(union(json(variables('listajson')),json(concat('{\"',item().clave,'\":\"',item().valor,'\"}'))))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable3",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set variable2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "listajson",
										"value": {
											"value": "@variables('listajson2')",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var1",
							"value": {
								"value": "@json(variables('listajson')).clave2",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ParamID": {
						"type": "string",
						"defaultValue": "1"
					}
				},
				"variables": {
					"listaClaves": {
						"type": "Array",
						"defaultValue": []
					},
					"listaValor": {
						"type": "Array",
						"defaultValue": []
					},
					"listajson": {
						"type": "String",
						"defaultValue": "{}"
					},
					"var1": {
						"type": "String"
					},
					"indice1": {
						"type": "Integer",
						"defaultValue": 0
					},
					"listajson2": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_INSERT_tmpselect12]",
							"storedProcedureParameters": {
								"ParamEnvironment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ParamExecuteLoadCode": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"ParamExecuteLoadId": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ParamEnvironment": {
						"type": "string",
						"defaultValue": "0"
					},
					"ParamExecuteLoadCode": {
						"type": "string",
						"defaultValue": "0"
					},
					"ParamExecuteLoadId": {
						"type": "string",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1_copy2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_INSERT_tmpselect3]",
							"storedProcedureParameters": {
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID_VALOR",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"VALOR": {
									"value": {
										"value": "@pipeline().parameters.VALOR_VALOR",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID_VALOR": {
						"type": "string",
						"defaultValue": "0"
					},
					"VALOR_VALOR": {
						"type": "string",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1_copy3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_INSERT_tmpselect]",
							"storedProcedureParameters": {
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID_VALOR",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"VALOR": {
									"value": {
										"value": "@pipeline().parameters.VALOR_VALOR",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Stored procedure1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var1",
							"value": {
								"value": "@pipeline().parameters.ID_VALOR",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID_VALOR": {
						"type": "string",
						"defaultValue": "1"
					},
					"VALOR_VALOR": {
						"type": "string",
						"defaultValue": "A"
					}
				},
				"variables": {
					"var1": {
						"type": "String",
						"defaultValue": "ddddd"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1_copy4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_INSERT_tmpselect13]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@variables('Fecha')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ID": {
									"value": {
										"value": "@pipeline().parameters.ID_VALOR",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"VALOR": {
									"value": {
										"value": "@pipeline().parameters.VALOR_VALOR",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Fecha",
							"value": {
								"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID_VALOR": {
						"type": "string",
						"defaultValue": "0"
					},
					"VALOR_VALOR": {
						"type": "string",
						"defaultValue": "0"
					}
				},
				"variables": {
					"Fecha": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script1",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "EXEC USP_SELECT_tmpselect"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Script1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Script1').output.resultSets[0].rows",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Stored procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "USP_INSERT_tmpselect2",
										"storedProcedureParameters": {
											"ID": {
												"value": {
													"value": "@item().ID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"VALOR": {
												"value": {
													"value": "@item().VALOR",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsrcDestination",
										"type": "LinkedServiceReference",
										"parameters": {
											"ParamDataSourceCode": "desaperreportesgenerales"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline5_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable2",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set variable3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var2",
							"value": {
								"value": "@concat('{  \"ParamExecuteLoadCode\": \"',pipeline().parameters.ParamExecuteLoadCode,'\",\"ParamExecuteLoadId\":\"', pipeline().parameters.ParamExecuteLoadId,'\",\"ParamEnvironment\":\"', pipeline().parameters.ParamEnvironment,'\"}')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set variable3",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var1",
							"value": {
								"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GET Step configuration",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Set variable2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@variables('vardsrcDestination')",
									"type": "Expression"
								}
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "EXEC [AdminPackage].[ExecuteLoadConfigurationStepADF] @{pipeline().parameters.ParamExecuteLoadCode} , @{pipeline().parameters.ParamEnvironment}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"param1": {
						"type": "string",
						"defaultValue": "@pipeline().globalParameters.CountryCodeADF"
					},
					"ParamEnvironment": {
						"type": "string",
						"defaultValue": "UAT_PER"
					},
					"ParamExecuteLoadCode": {
						"type": "string",
						"defaultValue": "ProcesarODS"
					},
					"ParamExecuteLoadId": {
						"type": "string",
						"defaultValue": "1234"
					}
				},
				"variables": {
					"var1": {
						"type": "String"
					},
					"var2": {
						"type": "String"
					},
					"var3": {
						"type": "String"
					},
					"vardsrcDestination": {
						"type": "String",
						"defaultValue": "desaperyanbalreportsods"
					},
					"ParamEnvironment": {
						"type": "String",
						"defaultValue": "DESA_PER"
					},
					"ParamExecuteLoadCode": {
						"type": "String",
						"defaultValue": "ODS_ProcesamientoDim_Sales_SalesParametersByTitle"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline5_copy2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GET Step configuration",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@variables('vardsrcDestination')",
									"type": "Expression"
								}
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "EXEC [AdminPackage].[ExecuteLoadConfigurationStepADF] @{pipeline().parameters.ParamExecuteLoadCode} , @{pipeline().parameters.ParamEnvironment}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET Step configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "var1",
							"value": {
								"value": "@activity('GET Step configuration').output.resultSets[0]['rows'][0].Parameter",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"param1": {
						"type": "string",
						"defaultValue": "@pipeline().globalParameters.CountryCodeADF"
					},
					"ParamEnvironment": {
						"type": "string",
						"defaultValue": "DESA_PER"
					},
					"ParamExecuteLoadCode": {
						"type": "string",
						"defaultValue": "ODS_ProcesamientoDim_Sales_SalesParametersByTitle"
					},
					"ParamExecuteLoadId": {
						"type": "string",
						"defaultValue": "1234"
					}
				},
				"variables": {
					"var1": {
						"type": "String"
					},
					"var2": {
						"type": "String"
					},
					"var3": {
						"type": "String"
					},
					"vardsrcDestination": {
						"type": "String",
						"defaultValue": "desaperyanbalreportsods"
					},
					"ParamEnvironment": {
						"type": "String",
						"defaultValue": "DESA_PER"
					},
					"ParamExecuteLoadCode": {
						"type": "String",
						"defaultValue": "ODS_ProcesamientoDim_Sales_SalesParametersByTitle"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsrcDestination",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": "desaperreportesgenerales"
					}
				},
				"parameters": {
					"schematablename": {
						"type": "string",
						"defaultValue": "0"
					},
					"tablename": {
						"type": "string",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schematablename",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsSqlServerDataBase",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": "desaperyanbalreportsods"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipADF_ADM_ExecuteLoadParallel')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load ExecuteLoadSequence",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Start Process - Save Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "EXEC AdminPackage.ExecuteLoadSequenceADF @{pipeline().parameters.ParamExecuteLoadCode} , @{pipeline().parameters.ParamEnvironment}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Childs Pipelines",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Load ExecuteLoadSequence",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Load ExecuteLoadSequence').output.resultSets[0].rows",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Execute Child Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipADF_ADM_ExecuteLoad",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ParamSubscription": {
												"value": "@pipeline().parameters.ParamSubscription",
												"type": "Expression"
											},
											"ParamResourceGroup": {
												"value": "@pipeline().parameters.ParamResourceGroup",
												"type": "Expression"
											},
											"ParamInstanceNameADF": {
												"value": "@pipeline().parameters.ParamInstanceNameADF",
												"type": "Expression"
											},
											"ParamPipelineNameADF": {
												"value": "@item().SequencePipelineName",
												"type": "Expression"
											},
											"ParamUrlExecutePipeline": {
												"value": "@pipeline().parameters.ParamUrlExecutePipeline",
												"type": "Expression"
											},
											"ParamUrlStatusRunIdPipeline": {
												"value": "@pipeline().parameters.ParamUrlStatusRunIdPipeline",
												"type": "Expression"
											},
											"ParamExecuteLoadCode": {
												"value": "@item().SequenceExecuteLoadCode",
												"type": "Expression"
											},
											"ParamExecuteLoadId": {
												"value": "@item().SequenceExecuteLoadId",
												"type": "Expression"
											},
											"ParamEnvironment": {
												"value": "@pipeline().parameters.ParamEnvironment",
												"type": "Expression"
											},
											"ParamCountryCode": {
												"value": "@pipeline().parameters.ParamCountryCode",
												"type": "Expression"
											},
											"ParamdsrcIntegration": {
												"value": "@item().dsrcIntegration",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Start Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@concat('Package Start Process','')",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "1",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('Start Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "End Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Childs Pipelines",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@concat('Package End Proces','')",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "1",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ParamExecuteLoadCode": {
						"type": "string"
					},
					"ParamEnvironment": {
						"type": "string"
					},
					"ParamCountryCode": {
						"type": "string"
					},
					"ParamSubscription": {
						"type": "string"
					},
					"ParamResourceGroup": {
						"type": "string"
					},
					"ParamInstanceNameADF": {
						"type": "string"
					},
					"ParamUrlExecutePipeline": {
						"type": "string"
					},
					"ParamUrlStatusRunIdPipeline": {
						"type": "string"
					},
					"ParamExecuteLoadId": {
						"type": "string"
					},
					"ParamdsrcIntegration": {
						"type": "string"
					}
				},
				"variables": {
					"varSubscription": {
						"type": "String",
						"defaultValue": "0"
					},
					"varResourceGroup": {
						"type": "String",
						"defaultValue": "0"
					},
					"varInstanceNameADF": {
						"type": "String",
						"defaultValue": "0"
					},
					"varUrlExecutePipeline": {
						"type": "String",
						"defaultValue": "0"
					},
					"varUrlStatusRunIdPipeline": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "YanbalPipelines/YanbalODS_BusinessApp"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/execute_pipeline1_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipeline1_copy1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"ID_VALOR": "2",
								"VALOR_VALOR": "B"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ID_VALOR": {
						"type": "string",
						"defaultValue": "1"
					},
					"VALOR_VALOR": {
						"type": "string",
						"defaultValue": "A"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1_copy1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline15')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "USP_LEER_tmpLista",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {
									"schematablename": {
										"value": "@pipeline().parameters.schematablenamesource",
										"type": "Expression"
									},
									"tablename": {
										"value": "@pipeline().parameters.tablenamesource",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"schematablenamesource": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"tablenamesource": {
						"type": "string",
						"defaultValue": "tmpLista"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline15_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "USP_LEER_tmpLista2",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {
									"schematablename": {
										"value": "@pipeline().parameters.schematablenamesource",
										"type": "Expression"
									},
									"tablename": {
										"value": "@pipeline().parameters.tablenamesource",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"schematablenamesource": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"tablenamesource": {
						"type": "string",
						"defaultValue": "tmpLista"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipADF_CopyData_SqlServer_To_AzureSql_SP_TB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Generar lista parametros",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@json(variables('varListParameters')).storedNameSource",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "@json(variables('varListParameters')).precopyScript",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {
									"schematablename": {
										"value": "@json(variables('varListParameters')).schemaTableDestination",
										"type": "Expression"
									},
									"tablename": {
										"value": "@json(variables('varListParameters')).tableNameDestination",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Start Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@concat('Package Start Process','')",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "1",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('Start Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "GET Step configuration",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Start Process - Save Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "EXEC [AdminPackage].[ExecuteLoadConfigurationStepADF] @{pipeline().parameters.ParamExecuteLoadCode} , @{pipeline().parameters.ParamEnvironment}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Generar lista parametros",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GET Step configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GET Step configuration').output.resultSets[0].rows",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "get parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "varParameter",
										"value": {
											"value": "@string(union(json(variables('varListParameters')),json(concat('{\"',item().Parameter,'\":\"',item().ParameterValue,'\"}'))))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Add parameter to json parameters",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "get parameter",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "varListParameters",
										"value": {
											"value": "@variables('varParameter')",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "End Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@concat('Package End Proces','')",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "1",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ParamExecuteLoadCode": {
						"type": "string"
					},
					"ParamExecuteLoadId": {
						"type": "string"
					},
					"ParamEnvironment": {
						"type": "string"
					},
					"ParamCountryCode": {
						"type": "string"
					},
					"ParamdsrcIntegration": {
						"type": "string"
					},
					"ParamSubscription": {
						"type": "string"
					},
					"ParamResourceGroup": {
						"type": "string"
					},
					"ParamInstanceNameADF": {
						"type": "string"
					},
					"ParamUrlExecutePipeline": {
						"type": "string"
					},
					"ParamUrlStatusRunIdPipeline": {
						"type": "string"
					}
				},
				"variables": {
					"varListParameters": {
						"type": "String",
						"defaultValue": "{}"
					},
					"varParameter": {
						"type": "String"
					}
				},
				"folder": {
					"name": "YanbalPipelines/YanbalODS_BusinessApp"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipADF_ADM_ExecutePipelineParent')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load ExecuteLoadSequence",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Set varSubscription",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set varResourceGroup",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set varUrlExecutePipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set varInstanceNameADF",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set varUrlStatusRunIdPipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "EXEC AdminPackage.ExecuteLoadSequenceADF @{pipeline().parameters.ParamExecuteLoadCode} , @{pipeline().parameters.ParamEnvironment}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Childs Pipelines",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Load ExecuteLoadSequence",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Load ExecuteLoadSequence').output.resultSets[0].rows",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute Child Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipADF_ADM_ExecuteLoad",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ParamSubscription": {
												"value": "@variables('varSubscription')",
												"type": "Expression"
											},
											"ParamResourceGroup": {
												"value": "@variables('varResourceGroup')",
												"type": "Expression"
											},
											"ParamInstanceNameADF": {
												"value": "@variables('varInstanceNameADF')",
												"type": "Expression"
											},
											"ParamPipelineNameADF": {
												"value": "@item().SequencePipelineName",
												"type": "Expression"
											},
											"ParamUrlExecutePipeline": {
												"value": "@variables('varUrlExecutePipeline')",
												"type": "Expression"
											},
											"ParamUrlStatusRunIdPipeline": {
												"value": "@variables('varUrlStatusRunIdPipeline')",
												"type": "Expression"
											},
											"ParamExecuteLoadCode": {
												"value": "@item().SequenceExecuteLoadCode",
												"type": "Expression"
											},
											"ParamExecuteLoadId": {
												"value": "@item().SequenceExecuteLoadId",
												"type": "Expression"
											},
											"ParamEnvironment": {
												"value": "@pipeline().parameters.ParamEnvironment",
												"type": "Expression"
											},
											"ParamCountryCode": {
												"value": "@pipeline().parameters.ParamCountryCode",
												"type": "Expression"
											},
											"ParamdsrcIntegration": {
												"value": "@item().dsrcIntegration",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Set varSubscription",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET ADF configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varSubscription",
							"value": {
								"value": "@string(activity('GET ADF configuration').output.firstRow.SubscriptionId)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set varResourceGroup",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET ADF configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varResourceGroup",
							"value": {
								"value": "@string(activity('GET ADF configuration').output.firstRow.ResourceGroup)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set varUrlExecutePipeline",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET ADF configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varUrlExecutePipeline",
							"value": {
								"value": "@string(activity('GET ADF configuration').output.firstRow.UrlExecutePipeline)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set varInstanceNameADF",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET ADF configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varInstanceNameADF",
							"value": {
								"value": "@string(activity('GET ADF configuration').output.firstRow.ADFInstanceName)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set varUrlStatusRunIdPipeline",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET ADF configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varUrlStatusRunIdPipeline",
							"value": {
								"value": "@string(activity('GET ADF configuration').output.firstRow.UrlStatusRunIdPipeline)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GET ADF configuration",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[AdminPackage].[GetConfigurationADFInstance]",
								"storedProcedureParameters": {
									"CountryCode": {
										"type": "String",
										"value": {
											"value": "@pipeline().globalParameters.CountryCodeADF",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ParamExecuteLoadCode": {
						"type": "string",
						"defaultValue": "ODS_BusinessApp"
					},
					"ParamEnvironment": {
						"type": "string",
						"defaultValue": "DESA_PER"
					},
					"ParamCountryCode": {
						"type": "string",
						"defaultValue": "PE"
					}
				},
				"variables": {
					"varSubscription": {
						"type": "String",
						"defaultValue": "0"
					},
					"varResourceGroup": {
						"type": "String",
						"defaultValue": "0"
					},
					"varInstanceNameADF": {
						"type": "String",
						"defaultValue": "0"
					},
					"varUrlExecutePipeline": {
						"type": "String",
						"defaultValue": "0"
					},
					"varUrlStatusRunIdPipeline": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "YanbalPipelines/YanbalODS_BusinessApp"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipADF_ADM_ExecutePipelineParent_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load ExecuteLoadSequence",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Set varSubscription",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set varResourceGroup",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set varUrlExecutePipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set varInstanceNameADF",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set varUrlStatusRunIdPipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "lsrcDestination",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": "desaperreportesgenerales"
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "EXEC AdminPackage.ExecuteLoadSequenceADF @{pipeline().parameters.ParamExecuteLoadCode} , @{pipeline().parameters.ParamEnvironment}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Childs Pipelines",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Load ExecuteLoadSequence",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Load ExecuteLoadSequence').output.resultSets[0].rows",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute Child Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipADF_ADM_ExecuteLoad",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ParamSubscription": {
												"value": "@variables('varSubscription')",
												"type": "Expression"
											},
											"ParamResourceGroup": {
												"value": "@variables('varResourceGroup')",
												"type": "Expression"
											},
											"ParamInstanceNameADF": {
												"value": "@variables('varInstanceNameADF')",
												"type": "Expression"
											},
											"ParamPipelineNameADF": {
												"value": "@item().SequencePipelineName",
												"type": "Expression"
											},
											"ParamUrlExecutePipeline": {
												"value": "@variables('varUrlExecutePipeline')",
												"type": "Expression"
											},
											"ParamUrlStatusRunIdPipeline": {
												"value": "@variables('varUrlStatusRunIdPipeline')",
												"type": "Expression"
											},
											"ParamExecuteLoadCode": {
												"value": "@item().SequenceExecuteLoadCode",
												"type": "Expression"
											},
											"ParamExecuteLoadId": {
												"value": "@item().SequenceExecuteLoadId",
												"type": "Expression"
											},
											"ParamEnvironment": {
												"value": "@pipeline().parameters.ParamEnvironment",
												"type": "Expression"
											},
											"ParamCountryCode": {
												"value": "@pipeline().parameters.ParamCountryCode",
												"type": "Expression"
											},
											"ParamdsrcIntegration": {
												"value": "@item().dsrcIntegration",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Set varSubscription",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET ADF configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varSubscription",
							"value": {
								"value": "@string(activity('GET ADF configuration').output.firstRow.SubscriptionId)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set varResourceGroup",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET ADF configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varResourceGroup",
							"value": {
								"value": "@string(activity('GET ADF configuration').output.firstRow.ResourceGroup)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set varUrlExecutePipeline",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET ADF configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varUrlExecutePipeline",
							"value": {
								"value": "@string(activity('GET ADF configuration').output.firstRow.UrlExecutePipeline)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set varInstanceNameADF",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET ADF configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varInstanceNameADF",
							"value": {
								"value": "@string(activity('GET ADF configuration').output.firstRow.ADFInstanceName)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set varUrlStatusRunIdPipeline",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GET ADF configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "varUrlStatusRunIdPipeline",
							"value": {
								"value": "@string(activity('GET ADF configuration').output.firstRow.UrlStatusRunIdPipeline)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GET ADF configuration",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[AdminPackage].[GetConfigurationADFInstance]",
								"storedProcedureParameters": {
									"CountryCode": {
										"type": "String",
										"value": {
											"value": "@pipeline().globalParameters.CountryCodeADF",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ParamExecuteLoadCode": {
						"type": "string",
						"defaultValue": "ODS_BusinessApp"
					},
					"ParamEnvironment": {
						"type": "string",
						"defaultValue": "DESA_PER"
					},
					"ParamCountryCode": {
						"type": "string",
						"defaultValue": "PE"
					}
				},
				"variables": {
					"varSubscription": {
						"type": "String",
						"defaultValue": "0"
					},
					"varResourceGroup": {
						"type": "String",
						"defaultValue": "0"
					},
					"varInstanceNameADF": {
						"type": "String",
						"defaultValue": "0"
					},
					"varUrlExecutePipeline": {
						"type": "String",
						"defaultValue": "0"
					},
					"varUrlStatusRunIdPipeline": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "Test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		}
	]
}